@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-banner {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3)
    ),
    url(https://img.freepik.com/free-photo/website-hosting-concept-with-bright-light_23-2149406783.jpg?t=st=1718728712~exp=1718732312~hmac=99fe41c7c9a091aadae8fa7de78765f234ec0d25fc5ad0eee852bbddddb1333c&w=2000);
  background-attachment: fixed;
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
